<div class="edit-post-modal">
  <div class="edit-post-modal__header">
    <h4>Edit: {{$ctrl.postJson.postTitle}}</h4>
    <div class="edit-post-modal__header__tools">
      <span ng-click="$ctrl.closeModal()" class="edit-post-modal__header__tools__tool glyphicon glyphicon-remove" title="Close"></span>
      <span ng-click="$ctrl.saveChanges()" class="edit-post-modal__header__tools__tool glyphicon glyphicon-save" title="Save"></span>
    </div>
  </div>
  <hr>

  <div class="edit-post-modal__body">
    <angular-jsoneditor ng-model="$ctrl.postJsonForChange" options="$ctrl.jsoneditorOptions" class="edit-post-modal__body__jsoneditor"></angular-jsoneditor>
  </div>
</div>
