<h2>Posts</h2>
<div infinite-scroll="$ctrl.loadMorePosts()" infinite-scroll-disabled='$ctrl.isLoadingMorePosts' class="posts-list">
  <div ng-show="!$root.viewLoading" ng-repeat="post in $ctrl.posts" class="posts-list__item">
	  <div class="container">
	  	<div class="posts-list__item__title">
	  		<h2>{{ post.postTitle }}</h2>
        <h3><i>{{ post.postTime }}</i></h3>
	  	</div>
	  	<p ng-bind-html="post.postText"></p>
	    <p ng-bind-html="post.childPostText"></p>
	    <hr>
	  </div>
  </div>
  <p ng-if="$ctrl.posts.length === $ctrl.totalPostCount">No more Posts</p>
</div>
