<h2>Posts</h2>

<div class="row">
  <div class="col-xs-offset-8 col-xs-2">
    <select ng-model="$ctrl.filtersPosts.orderBy" ng-change="$ctrl.setPostFilter()" class="form-control order-by">
      <option value="date" selected>New</option>
      <option value="score">Popular</option>
    </select>
  </div>

  <div class="col-xs-2">
    <div class="checkbox featured-posts-checkbox text-right">
      <label><input type="checkbox" ng-model="$ctrl.filtersPosts.isFeaturedPosts" ng-click="$ctrl.setPostFilter()">Featured Posts</label>
    </div>
  </div>
</div>

<div infinite-scroll="$ctrl.loadMorePosts()" infinite-scroll-disabled="$ctrl.isLoadingMorePosts" class="posts-list">
  <post-item ng-repeat="post in $ctrl.posts" post="post">
  </post-item>

  <p ng-if="$ctrl.posts.length === $ctrl.totalPostCount">No more Posts</p>
</div>
