<div class="row sign-in">
  <form novalidate class="col-xs-12 col-sm-4 col-lg-3 center-block">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="$ctrl.credentials.username" placeholder="Username">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" ng-model="$ctrl.credentials.password" placeholder="Password">
    </div>

    <div class="form-group">
      <select class="form-control" placeholder="Env" ng-model="$root.env">
        <option value="Dev">Dev</option>
        <option value="Stage">Stage</option>
         <option value="Production">Production</option>
      </select>
    </div>

    <button type="submit" class="btn btn-default" ng-click="$ctrl.login($ctrl.credentials)">Login</button>
  </form>
</div>
