header {
  line-height: 1.75rem;
  font-size: 0.75rem;

  .brand-select {
    height: 2.5rem;
  }

  .navbar-default .navbar-brand {
    color: white;

    &:hover {
      color: darken(hsl(100%, 100%, 100%), 15%);
    }
  }
  .prod-alert {
    clear: both;
    text-align: center;
    font-size: 2em; 
  }
}
