.post {

  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #262626;

  .parent-post {
    text-align: justify;

    .post-info {

      span {

      }
    }

    .multi-step-post__container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      .multi-step-post__icon {
        position: relative;
        background-color: white;

        img {
          margin: 5px;
        }
      }

    }

  }
}
